@font-face {
    font-family: 'FZQINGKBYSJF';
    src: url('./FZQINGKBYSJF.eot');
    src:
        url('./FZQINGKBYSJF.eot?#font-spider') format('embedded-opentype'),
        url('./FZQINGKBYSJF.woff') format('woff'),
        url('./FZQINGKBYSJF.woff2') format('woff2'),
        url('./FZQINGKBYSJF.ttf') format('truetype'),
        url('./FZQINGKBYSJF.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.medium {
    font-family:'FZQINGKBYSJF';
}