@font-face {
    font-family: 'FZQKBYSJW';
    src: url('./FZQKBYSJW.eot');
    src:
        url('./FZQKBYSJW.eot?#font-spider') format('embedded-opentype'),
        url('./FZQKBYSJW.woff') format('woff'),
        url('./FZQKBYSJW.woff2') format('woff2'),
        url('./FZQKBYSJW.ttf') format('truetype'),
        url('./FZQKBYSJW.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.medium {
    font-family:'FZQKBYSJW';
}